extend layout
block content
  style(type='text/css').
    .panel-primary:hover {
        box-shadow: 10px 10px 5px #888888;
    }
    .accountBox,table{
      display:block;
    }
  style.
    #search{
      display:block;
      margin-bottom:20px;
      margin-top:20px;
    }
    p{
      font-weight: bold;
    }
    span{
      font-weight: normal;
    }
  block content(dir ='rtl')
    div.container
      form(action="/explorer", method="get",dir="rtl",align="right")
        div(class="row")
          div(class="col-8")
            input(type="text" id="search" class="form-control" ,name="q",placeholder="Txhash/Address/מס חשבון/טרנזקציה" required)
          div(class="col-4")
            button.btn.btn-large.btn-primary(type="submit" class="btn btn-primary btn-block") חפש/י    
  h1(id="message" dir="rtl") פרטי כתובת:
  div(class='accountBox container' dir="rtl")
    table(class="table table-responsive" dir="rtl")
      thead(dir='rtl')
        tr
          th(dir='rtl') #{accountNum}
          th
      tbody
        tr
          td 
            p יתרה (אית'ר): 
            span #{balance}
        tr
          td 
            p יתרה (דולר ארה"ב בשער #{usdPrice}): 
            span $#{balance_usd}
        tr
          td 
            p יתרה (ביטקוין בשער #{btcPrice}): 
            span #{balance_btc} BTC
        tr
          td 
            p יתרה (שקלים בשער דולר #{ilsPrice}): 
            span #{balance_ils} &#8362

  hr
  h1(id="message" dir="rtl") פירוט טרנזקציות:
  div(class ='panel-group w3-mobile')
      -var i = 0
      each item,index in results
          - i = i+1
          div(class ='panel panel-primary')
            div(class ='panel-heading' dir='rtl')
               p שולח : #{item.innerFrom} ===>  מקבל : #{item.innerTo} 
            div(class='panel-body' dir='rtl')
              button(type="button" class="btn btn-info" style="margin-left:5px;" data-toggle="collapse" data-target="#hash#{i}") מס טרנזקציה
              a(id ="hash#{i}" href ="#{redirectSearchUrl}#{item.hash}" class="collapse") #{item.hash}
              button(type="button" class="btn btn-info" style="margin-left:5px;" data-toggle="collapse" data-target="#from#{i}") כתובת השולח
              a(id ="from#{i}" href ="#{redirectSearchUrl}#{item.from}" class="collapse") #{item.from}
              button(type="button" class="btn btn-info" style="margin-left:5px;" data-toggle="collapse" data-target="#to#{i}") כתובת המקבל
              a(id ="to#{i}" href ="#{redirectSearchUrl}#{item.to}" class="collapse") #{item.to}
              p 
                span    
              p זמן: 
                span #{item.innerTime}
              p סכום: 
                span #{item.value} אית'ר
              p עמלה: 
                span #{item.fee} אית'ר
              p קיימת שגיאה? : 
                span #{item.innerIsError}