extend layout
block content
  script.
    $(document).ready(function(){});
  style.
    #search{
      display:block;
      margin-bottom:20px;
      margin-top:20px;
    }
  block content(dir ='rtl')
    div.container
      form(action="/node", method="post",dir="rtl",align="right")
        div(class="row")
          div(class="col-8")
            input(type="text" id="search" class="form-control" ,name="blockchainquery",placeholder="Txhash/Address/מס חשבון/טרנזקציה" required)
          div(class="col-4")
            button.btn.btn-large.btn-primary(type="submit" class="btn btn-primary btn-block") חפש/י  
  hr
  h1(id="message" dir="rtl") פירוט טרנזקציה:
  div(class ='panel-group w3-mobile')
    div(class ='panel panel-primary')
      div(class ='panel-heading' dir='rtl')
          p סטטוס: #{result.txStatus}  | תאריך הבלוק: #{result.innerTimeStamp}
      div(class='panel-body' dir='rtl')
        button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#hash") מס טרנזקציה
        p(id ="hash" class="collapse") #{result.hash}
        button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#from") כתובת השולח
        p(id ="from" class="collapse") #{result.from}
        button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#to") כתובת המקבל
        p(id ="to" class="collapse") #{result.to}
        p זמן: #{result.innerTimeStamp}
        p סכום: #{result.innerValue} אית'ר
        p עמלה: #{result.innerFee} אית'ר
        p מכסת גז : #{result.gasLimit}
        p גז שהושקע : #{result.gasUsed}
        p מחיר הגז : #{result.gasPrice} אית'ר
        p מס הבלוק: #{result.blockNumber}
        p מס הטרנזקציות של השולח: #{result.innerNonce}
        p קיימת שגיאה ? : #{result.isError}
        p סטטוס טרנזקציה : #{result.txStatus}
        button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#data") מידע מצורף
        p(id ="data" class="collapse") #{result.input}
