extend layout
block content
  style.
    #search{
      display:block;
      margin-bottom:20px;
      margin-top:20px;
    }
    p{
      font-weight: bold;
    }
    span{
      font-weight: normal;
    }
  block content(dir ='rtl')
    div.container
      form(action="/explorer", method="get",dir="rtl",align="right")
        div(class="row")
          div(class="col-8")
            input(type="text" id="search" class="form-control" ,name="q",placeholder="Txhash/Address/מס חשבון/טרנזקציה" required)
          div(class="col-4")
            button.btn.btn-large.btn-primary(type="submit" class="btn btn-primary btn-block") חפש/י  
  hr
  h1(id="message" dir="rtl") פירוט טרנזקציה:
  div(class ='panel-group w3-mobile')
    div(class ='panel panel-primary')
      div(class ='panel-heading' dir='rtl')
          p סטטוס: #{result.txStatus}  | תאריך הבלוק: #{result.innerTimeStamp}
      div(class='panel-body' dir='rtl')
        button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#hash") מס טרנזקציה
        a(id ="hash" href ="#{redirectSearchUrl}#{result.hash}" class="collapse") #{result.hash}
        button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#from") כתובת השולח
        a(id ="from" href ="#{redirectSearchUrl}#{result.from}" class="collapse") #{result.from}
        button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#to") כתובת המקבל
        a(id ="to" href ="#{redirectSearchUrl}#{result.to}" class="collapse") #{result.to}
        br
        p זמן: 
          span #{result.innerTimeStamp}
        p סכום: 
          span #{result.innerValue} אית'ר
        p עמלה: 
          span #{result.innerFee} אית'ר
        p מכסת גז : 
          span #{result.gasLimit}
        p גז שהושקע : 
          span #{result.gasUsed}
        p מחיר הגז : 
          span #{result.gasPrice} אית'ר
        p מס הבלוק: 
          span #{result.blockNumber}
        p מס הטרנזקציות של השולח: 
          span #{result.innerNonce}
        p קיימת שגיאה ? : 
          span #{result.isError}
        p סטטוס טרנזקציה : 
          span #{result.txStatus}
        button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#data") מידע מצורף
        p(id ="data" class="collapse") #{result.input}
